body {
  margin: 0;
  padding: 60px 60px;
  /* text-align: left; */
  background-color: #36454f;
}

h1 {
  color: #99C624;
  padding-bottom: 20px;
  text-align: left;
}

h2,h5 {
  padding-top: 10px;
  color: black;
}

h3 {
  padding-left: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Login form {
  margin: 0 auto;
  max-width: 320px;
}

.container {
  margin: auto;
  width: 50%;
}

.inner-center {
  padding: 20px 20px 0;
}

.severity {
  padding-top: 40px;
  display: flex;
  justify-content:space-around;
}

.item-name {
  margin: 0.3em;
  padding: 0.3em;
  padding-left: 5px;
  display: flex;
  text-align: left;
  width: 65%;
  font-size: 20px;
}

.waitTime {
  margin: 0.3em;
  padding: 0.3em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
}

.text {
  color: grey;
  font-size: 15px;
}

.time {
  color: indianred;
  font-size: 15px;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

   background: #FFFFFF;
   background-image: -webkit-linear-gradient(top, #FFFFFF, #BCBCBC);
   background-image: -moz-linear-gradient(top, #FFFFFF, #BCBCBC);
   background-image: -ms-linear-gradient(top, #FFFFFF, #BCBCBC);
   background-image: -o-linear-gradient(top, #FFFFFF, #BCBCBC);
   background-image: -webkit-gradient(to bottom, #FFFFFF, #BCBCBC);

   border-radius: 6px;
   border: solid grey 1px;

   margin: 0.3em;
   padding: 0;
   height: 80px;
   width: 100%;
   color: #000000;
   font-family: Arial;
   font-size: 20px;
}

.button:hover {
   border: solid #99C624 2px;
   background: #FFFFFF;
   background-image: -webkit-linear-gradient(top, #FFFFFF, #BCBCBC);
   background-image: -moz-linear-gradient(top, #FFFFFF, #BCBCBC);
   background-image: -ms-linear-gradient(top, #FFFFFF, #BCBCBC);
   background-image: -o-linear-gradient(top, #FFFFFF, #BCBCBC);
   background-image: -webkit-gradient(to bottom, #FFFFFF, #BCBCBC);

   border-radius: 6px;
   text-decoration: none;
}
